<h1>This is my blog</h1>
<p>Blogging is ruining my life. Every letter is one step closer to starvation.</p>
<p>The time is now <%= time_tag(Time.now)%></p>


<!-- <p>Here is a list of people I think are annoying</p>
<ul>
<li>Lindsay Lohan</li>
<li>Wilford Brimley</li>
<li>Anyone from Glee</li>
<li>Judge Judy (Because why is she allowed to mock or justice system? Let's let the criminals and government take care of that.)</li>
<li>Jake Gyllenhal. Seriously, why is he an actor? Maggie is pretty hot though...</li>
	
</ul> -->
